.skillsWrapper{
    /* height: 100vh; */
    position: relative;
    top: 6vh;
    left: 1.5vh;
    /* min-height: 20vh; */
    padding-bottom: 10vh;
}

.skillBar{
    margin: 5px;
    margin-top: 10px;
}

.skillsBarOuterDiv{
    position: relative;
    padding: 10px;
    padding-bottom: 25px;
    margin-top: 16px;
    width: 50%;
    border: 4px black solid;
    background: white;
}

.linearProgressBar{
    margin-top: 5px;
}