.educationWrapper{
    
    position: relative;
    /* min-height: 45vh; */
    overflow: hidden;
    top: 3vh;
    left: 1%;
    padding-bottom: 10vh;
    /* top: 3vh;
    margin-bottom: 6vh; */

}

.educationLocationTime{
    position: absolute;
    right: 70px;
    top: 10px;
}

.educationStartEndTime {
    position: relative;
    left: 7px;
}

.coursesContainer{

    max-width: 100vh;
    display: flex;
    flex-wrap: wrap;
}