.experiencesWrapperDiv {
    position: relative;
    min-height: 100vh;
    top: 3vh;
    left: 2%;
    /* background: #eeeeee; */
}

.logo-div {
    height: 200px;
    width:  200px;
}

.experienceLocationTime{
    position: absolute;
    right: 70px;
    top: 10px;
}

.experienceChip{
    border: 2px solid white !important;
    background-color: black !important;
    margin: 3px;
    color: white !important;
}

.experienceTechSkillContainer{
    position: relative; 
    top: 5vh;
}

.linkIcon{
    position: relative;
    top: 5px;
}

.pictureDivider{
    width:1px;
    background: white;
    height:50%;
    margin-right: 15px !important;
    position: relative;
    top: 25%;
}

.pictureContainer{
    max-width: 100%;
    max-height: 100%;
    margin-right: 15px !important; 
}

.experiencePaper{
    position: relative;
    padding: 8px;
    margin-top: 16px;
    width: 98%;
    border: 4px white solid;
    background-color: black !important;
}