.experiencesWrapperDiv {
    position: relative;
    min-height: 100vh;
    top: 3vh;
    left: 1%;
    padding-bottom: 50px;
    /* background: #eeeeee; */
}

.experienceLocationTime{
    position: absolute;
    right: 70px;
    top: 10px;
}

.experienceTechSkillContainer{
    position: absolute; 
    bottom: 0;
    padding-bottom: 15px;
}
