.wrapperDiv{
    height: 100.5vh;
}

#profile-image{
    height: 10%;
    width: auto;
}
  
#linkedin-logo{
    height: 30px;
    width: auto;
} 

#github-logo{
    height: 30px;
    width: auto;
} 

#email-logo{
    position: relative;
    height: 40px;
    width: auto;
    top: -4px;
} 

#bio-button:hover{
    border-color:#007bff
}

.line-1{
    position: relative;
    top: 50%;  
    width: 12.8em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(35) 1s 1 normal both,
             blinkTextCursor 500ms steps(35) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12.8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

