.projectsWrapperDiv{
    /* min-height: 100vh; */
    overflow: hidden;
    position: relative;
    top: 3vh;
    left: 1%;
    padding-bottom: 5vh;}

.projectDescription{
    margin-bottom: 10px !important;
}

.projectCompany{
    margin-left: 5px !important;
}