.MainComponent {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background: white;
    padding-bottom: 10vh;
}

.ProjectsSkillsWrapper {
    min-height: 140vh;
    overflow: hidden;
    padding-bottom: 10vh;
}

.commonPaper{
    position: relative;
    padding: 8px;
    margin-top: 16px;
    width: 96%;
    border: 4px black solid;
    background-color: white !important;
}

.linkIcon{
    position: relative;
    top: 5px;
    color: black;
}


.commonChip{
    border: 2px solid black !important;
    background-color: white !important;
    margin: 3px;
    color: black !important;
}

.logo-div{
    height: auto;
    width:  13vw;
}

.sectionDivider{
    height: 1px;
    background: black;
    width:100%;
}